<div class="timescale-selector">
  <div class="timescale-selector-both">
    <div class="timescale-selector-left">Timescale</div>
    <div class="timescale-selector-right">
      <ng-select
        class="timescale-ng-select"
        [items]="options"
        bindLabel="label"
        bindValue="value"
        [ngModel]="selected"
        (ngModelChange)="onSelect($event)"
        [clearable]="false"
        [searchable]="false"
        appendTo=".timescale-selector-both"
      ></ng-select>
    </div>
  </div>
</div>